Source: kali-hw-gemini
Section: utils
Priority: optional
Maintainer: Casten Boeving <carsten.boeving@whitedome.com.au>
Uploaders: Raphaël Hertzog <hertzog@debian.org>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.2.1
Homepage: http://www.kali.org
Vcs-Git: git://git.kali.org/packages/kali-hw-gemini.git
Vcs-Browser: https://git.kali.org/gitweb/?p=packages/kali-hw-gemini.git;a=summary

Package: kali-hw-gemini
Architecture: all
Depends: ${misc:Depends}
Description: Kali settings for the Gemini PDA
 This package implements various settings to optimize Kali for
 the Gemini PDA hardware by Planet Computers.
